body {
    background-image: url(../img/school.jpg);
    background-repeat: no-repeat;
    background-size: 100% 730px;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(22, 22, 22);
    padding-top: 30px;
    padding-bottom: 30px;
   
}

.container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#btn {
    margin-top: 10px;
    font-size: 20px;
}
  
#dngr {
    font-size: 20px;
}

.form-control:focus-within {
    border-color: #20ca61;
    border-width: 3px;
    box-shadow:none;
}

#alert_danger {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}




  